html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #222;
	color: #FFF;
}

html, body, input {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 1.5em;
}

div.slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.slide h1 {
	margin: 0 0 0.5em 0;
	padding: 15px 0 15px 36px;
	background: #0848B8;
}

div.slide ul {
	list-style: none;
	margin: 0;
	padding: 0 28px;
	font-size: 36px;
}

div.slide li {
	margin: 18px;
	padding: 0;
	line-height: 1.25em;
}

pre {
	font-family: Monaco, Courier New;
	margin: 0 1em;
	padding: 0.5em;
	font-size: 24px;
}

pre.javascript, pre.html {
	background: #000;
	color: #fff;
}

pre.stocky {
	width: 50%;
	float: left;
}

pre a {
	text-decoration: none;
}

a {
	color: #FFF;
}

input[type=text] {
	width: 400px;
}

img.logo {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
}